* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color and text color for the body */
body {
    background-color: #f1f1f1;
    color: #333;
}

.image1 {
    height: 70px;
    width: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #f1f1f1;
    color: #333;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .normal-buttons {
    text-align: right;
    margin-right: 25px;
  }

  .Log-in-button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.Log-in-button:hover,
.Log-in-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.Log-in-button:active {
  opacity: .5;
}
  
/* Style the header element */
head {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Style the h1 element */
h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Style the main element */
main {
    padding: 20px;
    text-align: center;
}

/* Style the paragraph element */
p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}